<h1>user gets redirected after successfully creating a post</h1>

  <div class="container">
    <div class="row">
      <% posts.forEach(function(post) { %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img class='post-image' src="<%= post.image_url %>" alt="...">
          <div class="caption">
            <h3><%= post.title %></h3>
            <% if (post.address) { %>
              <p><%= post.address %></p>
            <% } %>
            <p><%= post.category %></p>
            <% if (post.description.length > 200) { %>
            <% var description = post.description %>
            <p>
              <%= description.slice(0,200) %>...
              <a href="/posts/<%= post.id %>">Read More</a>
            </p>
            <% } else { %>
            <p><%= post.description %></p>
            <% } %>
            <p>
              <a class="btn btn-default" role='button' href="/posts/<%= post.id %>/edit">Edit</a>
              <!-- <a href="/posts/<%= post.id %>">Delete</a> -->
              <form method="POST" action="/posts/<%= post.id %>?_method=DELETE">
                <button class="btn btn-default" type="submit">Delete</button>
              </form>
            </p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
