<div id='map'></div>

<% if (message) { %>
  <div class="container" style='text-align:center;'>
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      <div class="row">
        <div class="col-md-12 roboto-font" style='font-size:100px;'>
          <strong>Ooops!</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 roboto-font" style='font-size:25px;'>
          <%= message %>
          <a href="/home" class='click-here'><span class='grow'>Click here</span></a> and create one!
        </div>
      </div>
    </div>
  </div>
<% } else { %>
  <div class="container">
    <div class="row">
      <% posts.forEach(function(post) { %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail-own">
          <img class='post-image img-responsive' src="<%= post.image_url %>" alt="...">
          <div class="caption">
            <h3><%= post.title %></h3>
            <% if (post.address) { %>
              <p><%= post.address %></p>
            <% } %>
            <p><%= post.category %></p>
            <% if (post.description.length > 200) { %>
            <% var description = post.description %>
            <p>
              <%= description.slice(0,200) %>...
              <a href="/posts/<%= post.id %>">Read More</a>
            </p>
            <% } else { %>
            <p><%= post.description %></p>
            <% } %>

            <p>
              <a class="btn btn-default" role='button' href="/posts/<%= post.id %>/edit">Edit</a>
              <!-- <a href="/posts/<%= post.id %>">Delete</a> -->
              <form method="POST" action="/posts/<%= post.id %>?_method=DELETE">
                <button class="btn btn-default" type="submit">Delete</button>
              </form>
            </p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
<% } %>
